@model Musik_Affär.Models.Product

<h3>@Html.DisplayFor(model => model.Name)</h3>
<small>@Html.DisplayFor(model => model.Brand)</small>
<small>@Html.DisplayFor(model => model.Category) | @Html.DisplayFor(model => model.Color)</small>
<p>Betyg: @Html.DisplayFor(model => model.Score)</p>
<p>@Html.DisplayFor(model => model.Price) SEK</p>
