@page
@model Musik_Affär.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Skapa ny produkt</h1>

<hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="val-text"></div>
        <div class="form-element">
            <label asp-for="@Model.Product.Name" class="form-label"></label>
            <input asp-for="@Model.Product.Name" class="form-control" />
            <span asp-validation-for="@Model.Product.Name" class="val-text"></span>
        </div>
        <div class="form-element">
            <label asp-for="@Model.Product.Category" class="form-label"></label>
            <select asp-for="@Model.Product.Category" class="form-control" 
            asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Type>()">
            <option value="">Välj Kategori</option></select>
            <span asp-validation-for="@Model.Product.Category" class="val-text"></span>
        </div>
        <div class="form-element">
            <label asp-for="@Model.Product.Color" class="form-label"></label>
            <select asp-for="@Model.Product.Color" class="form-control"
            asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Style>()">
            <option value="">Välj Färg</option></select>
            <span asp-validation-for="@Model.Product.Color" class="val-text"></span>
        </div>
        <div class="form-element">
            <label asp-for="@Model.Product.Price" class="form-label"></label>
            <input asp-for="@Model.Product.Price" class="form-control" />
            <span asp-validation-for="@Model.Product.Price" class="val-text"></span>
        </div>
        <div class="form-element">
            <label asp-for="@Model.Product.Brand" class="form-label"></label>
            <select asp-for="@Model.Product.Brand" class="form-control"
            asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Manufacturer>()">
            <option value="">Välj Tillverkare</option>></select>
            <span asp-validation-for="@Model.Product.Brand" class="val-text"></span>
        </div>
        <div class="form-element">
            <input type="submit" value="Skapa" class="val-text" />
        </div>
    </form>
<div>
    <a asp-page="Index">Tillbaka till produkter</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
