@page
@model Musik_Affär.Pages.Carts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Min Kundkorg</h1>
<h2>@Model.Cart.User.Email</h2>

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Product.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Product.Category)</th>
            <th>@Html.DisplayNameFor(model => model.Product.Color)</th>
            <th>@Html.DisplayNameFor(model => model.Product.Brand)</th>
            <th>@Html.DisplayNameFor(model => model.Product.Price)</th>
            <th>Antal</th>
            <th>Totalt</th>
            <th>Ändra</th>
        </tr>
    </thead>
       <tbody>
@for(int i = 0; i < Model.CartItems.Count(); i++) {
        <tr>
            <td> @Html.DisplayFor(model => model.CartItems[i].Product.Name )</td>
            <td> @Html.DisplayFor(model => model.CartItems[i].Product.Category )</td>
            <td> @Html.DisplayFor(model => model.CartItems[i].Product.Color )</td>
            <td> @Html.DisplayFor(model => model.CartItems[i].Product.Brand )</td>
            <td> @Html.DisplayFor(model => model.CartItems[i].Product.Price ) SEK</td>
            <td> @Html.DisplayFor(model => model.CartItems[i].Quantity )</td>
            <td> @Html.DisplayFor(model => model.TotalProductPrices[i])</td>
            <td>
                <form method="post" style="display:inline" asp-route-id="@Model.CartItems[i].ProductID">
                    <button type="submit">+</button>
                    
                </form>
                <a asp-page="./Details" asp-route-id="@Model.CartItems[i].ProductID"  class="crud-links">Detaljer</a>
            </td>
        </tr>
}       <tr></tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Totalt: </td>
            <td>@Html.DisplayFor(model => model.TotalProductQty) produkter</td>
            <td> @Html.DisplayFor(model => model.TotalOrderPrice) SEK</td>
        </tr>
    </tbody>
</table>
