@page
@model Musik_Affär.Pages.Reviews.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h1>Mina Recensioner</h1>
<div class="search-form">
    <form method="get">
        <input class="search" type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm" placeholder="Vad letar du efter?">
        <div class="filter">
            <div>
                <span>Filter:</span>
                <select asp-for="Brand" class="form-control"
                        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Manufacturer>()">
                    <option value="">Märke</option>
                </select>
                <select asp-for="Category"
                        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Type>()">
                    <option value="">Kategori</option>
                </select>

                <select asp-for="Color"
                        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Style>()">
                    <option value="">Färg</option>
                </select>
            </div>
            <div>

                <span>Sortera:</span>
                <div class="sort">
                    <select asp-for="SortColumn" asp-items="Model.SortColumnList">
                        <option value="">Sortera efter</option>
                    </select>
                </div>
                <div class="order">
                    <select asp-for="Direction" asp-items="Model.DirectionList">
                        <option value="">Ordning</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn">Sök</button>
        </div>
    </form>
</div>
    <div class="product-gallery">
        @foreach (var item in Model.Reviews)
        {
            <div class="product">
                <h3>@Html.DisplayFor(modelItem => item.Product.Name)</h3>
                <small>@Html.DisplayFor(modelItem => item.Product.Brand)</small>
                <small>@Html.DisplayFor(modelItem => item.Product.Category) | @Html.DisplayFor(modelItem => item.Product.Color)</small>
                <p>@Html.DisplayFor(modelItem => item.Product.Price) SEK</p>
                <form class="review-post" method="post">
                    <div asp-validation-summary="ModelOnly" class="val-text"></div>
                    <input asp-for="@Model.Grade" class="form-control" type="number" max="5" min="1" value="@item.Grade" />
                    <div class="review-buttons">
                        <button class="review-button" asp-page-handler="Change" asp-route-id="@item.ID" type="submit">✅</button>
                        <button class="review-button" asp-page-handler="Delete" asp-route-id="@item.ID" type="submit">🗑️</button>
                    </div>
                </form>
            </div>
        }

    </div>
